<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to "Red Lodge Town Series", defined?(root_path) ? root_path : "#", class: "navbar-brand" %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="navbar-collapse-1">
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <%= link_to "Rankings", rankings_path, class: "btn btn-navbar" %>
      <%= link_to "Teams", team_results_path, class: "btn btn-navbar" %>
      <%= link_to "Overall Times", times_path, class: "btn btn-navbar" %>
      <%= link_to "Overall Points", points_path, class: "btn btn-navbar" %>
      <%= link_to "Individual Results", individual_results_path, class: "btn btn-navbar" %>
      <%= link_to "Team Points", team_points_path, class: "btn btn-navbar" %>
      <%= link_to "Team Times", team_times_path, class: "btn btn-navbar" %>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>
