<div class="page-header">
  <h1>Individual Results</h1>
</div>
<% @results.keys.each do |gender| %>
    <h2><%= Racer.full_gender gender %></h2>
    <% @results[gender].keys.each do |discipline| %>
        <h3><%= discipline %></h3>
        <% @results[gender][discipline].keys.each do |classification| %>
            <h4>Class <%= classification %></h4>
            <table class="table table-striped">
              <thead>
              <tr>
                <th>Racer</th>
                <% weeks = @results[gender][discipline][classification].keys %>
                <% weeks.each do |week| %>
                    <th>Week <%= week %></th>
                <% end %>
                <th>Total Points</th>
                <th>
              </tr>
              </thead>
              <tbody>
              <% racers = @results[gender][discipline][classification][weeks[0]].map {|time_entry| time_entry.racer} %>
              <% racers.sort_by! {|racer| @total_points[racer.name]} %>
              <% racers.each do |racer| %>
                  <% if true #racer.is_individual %>
                      <tr>
                        <td><%= racer.name %></td>
                        <% weeks.each do |week| %>
                            <% time_entry =  @racer_weekly_entries[racer.name][week] %>
                            <td><%= time_entry.get_points() %></td>
                        <% end %>
                        <td><%= @total_points[racer.name] %></td>
                      </tr>
                  <% end %>
              <% end %>
              </tbody>
            </table>
        <% end %>
    <% end %>
<% end %>

