<div class="page-header">
  <h1>Individual Times</h1>
</div>
<table class="table table-striped">
  <thead>
  <tr>
    <th />
    <th colspan="4">Week <%= @last_week.name %></th>
  </tr>
  <tr>
    <th>Racer</th>
    <th>Run 1</th>
    <th>Run 2</th>
    <th>Combined</th>
  </tr>
  </thead>
  <tbody>
  <% @last_week_time_entries.each do |time_entry| %>
      <tr>
        <td><%= time_entry.racer.name %></td>
        <td><%= time_entry.run1 %></td>
        <td><%= time_entry.run2 %></td>
        <td><%= time_entry.combined %></td>
      </tr>
  <% end %>
  </tbody>
</table>

