<div class="page-header">
  <h1>Points</h1>
</div>
<% @results.keys.each do |gender| %>
    <h2><%= Racer.full_gender gender %></h2>
    <% @results[gender].keys.each do |discipline| %>
        <h3><%= discipline %></h3>
        <% @results[gender][discipline].keys.each do |classification| %>
            <h4>Class <%= classification %></h4>
            <table class="table table-striped">
              <thead>
              <tr>
                <% weeks = @results[gender][discipline][classification].keys %>
                <% weeks.each do |week| %>
                    <th colspan="5">Week <%= week %></th>
                <% end %>
                <th colspan="2">Total Points</th>
              </tr>
              <tr>
                <% weeks.each do %>
                    <th>Racer</th>
                    <th>Run 1</th>
                    <th>Run 2</th>
                    <th>Combined</th>
                    <th>Points</th>
                <% end %>
                <th>Racer</th>
                <th>Points</th>
              </tr>
              </thead>
              <tbody>
              <% racer_names = @results[gender][discipline][classification][weeks[0]].map {|time_entry| time_entry.racer.name} %>
              <% racer_names = racer_names.sort_by {|name| @total_points[name]} %>
              <% num_racers = @results[gender][discipline][classification][weeks[0]].size %>
              <% for i in 0..(num_racers-1) %>
                  <tr>
                  <% weeks.each do |week| %>
                      <% time_entry =  @results[gender][discipline][classification][week][i] %>
                        <td>
                          <%= time_entry.racer.name %>
                        </td>
                        <td>
                          <%= time_entry.run1 %>
                        </td>
                        <td>
                          <%= time_entry.run2 %>
                        </td>
                        <td>
                          <%= time_entry.combined %>
                        </td>
                        <td>
                          <%= time_entry.get_points() %>
                        </td>
                  <% end %>
                    <td><%= racer_names[i] %></td>
                    <td><%= @total_points[racer_names[i]] %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
    <% end %>
<% end %>

