<div class="page-header">
  <h1>Times</h1>
</div>
<% @results.keys.each do |gender| %>
    <h2><%= Racer.full_gender gender %></h2>
    <% @results[gender].keys.each do |discipline| %>
        <h3><%= discipline %></h3>
        <% @results[gender][discipline].keys.each do |classification| %>
            <h4>Class <%= classification %></h4>
            <table class="table table-striped">
              <thead>
              <tr>
                <th />
                <% weeks = @results[gender][discipline][classification].keys %>
                <% weeks.each do |week| %>
                    <th colspan="4">Week <%= week %></th>
                <% end %>
                <th colspan="3">Totals</th>
              </tr>
              <tr>
                <th>Racer</th>
                <% weeks.each do %>
                    <th>Run 1</th>
                    <th>Run 2</th>
                    <th>Combined</th>
                    <th>Points</th>
                <% end %>
                <th>Racer</th>
                <th>Total Points</th>
                <th>Total Time</th>
              </tr>
              </thead>
              <tbody>
              <% racer_names = @results[gender][discipline][classification][weeks[0]].map {|time_entry| time_entry.racer.name} %>
              <% racer_names.sort_by! {|name| @total_time[name]} %>
              <% racer_names.each do |name| %>
                  <tr>
                    <td><%= name %></td>
                    <% weeks.each do |week| %>
                        <% time_entry =  @racer_weekly_entries[name][week] %>
                        <td><%= time_entry.run1 %></td>
                        <td><%= time_entry.run2 %></td>
                        <td><%= time_entry.combined %></td>
                        <td><%= time_entry.get_points() %></td>
                    <% end %>
                    <td><%= name %></td>
                    <td><%= @total_points[name] %></td>
                    <td><%= @total_time[name] %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
        <% end %>
    <% end %>
<% end %>

